---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      Hey! 👋 I'm <span
        class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-orange-600 to-orange-500"
        >Nir</span
      >. I'm a Developer experienced in Web technologies (JavaScript,
      TypeScript, React, Node.js). Open-source maintainer and contributor.
      Knowledgeable in the React ecosystem, from state management techniques and
      solutions to technologies like Next.js and Remix with deep understanding
      of their core features such as server-side rendering, routing, and data
      fetching. Love slick designs and not afraid to write my own CSS. Always
      advancing with the ever-changing front-end world.
    </main>
    <Footer />
  </body>
</html>
